<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="bootstrap/image/favicon.ico">

    <title>活动申请处理 - 宿舍管理系统</title>

    <link rel="icon" href={% static 'bootstrap/image/favicon.ico' %}>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/admin.css' %}" rel="stylesheet" type="text/css">

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">学生宿舍管理系统</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">

                <li><a href="info_admin.html"><span class="glyphicon glyphicon-user">{{ username }}老师</span></a></li>
                <li><a data-toggle="modal" data-target="#logout">注销</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/show_admin_index">宿舍退调申请处理</a></li>
                <li><a href="/show_admin_repair_index">宿舍报修申请处理</a></li>
                <li><a href="/show_admin_resource_index">宿舍资源申请处理</a></li>
                <li><a href="/show_admin_meeting_index">研讨室申请处理</a></li>
                <li class="active"><a href="/show_admin_activity_index">社区活动申请处理<span class="sr-only">(current)</span></a></li>
                <li><a href="/show_admin_book_index">共享书屋</a></li>
                <li><a href="/show_admin_search_index">宿生信息检索</a></li>
                <li><a href="/show_admin_checkin_index">入宿处理</a></li>
                <li><a href="/show_admin_set_time_index">留校时间段设置</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">
                社区活动申请处理
                <div class="pull-right">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#newAdminActi">新建社区活动</button>
                </div>
            </h1>
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#needToDealt" data-toggle="tab">
                        待办事项
                    </a>
                </li>
                <li>
                    <a href="#log" data-toggle="tab">
                        申请参与记录
                    </a>
                </li>
                <li>
                    <a href="#activities" data-toggle="tab">
                        社区活动
                    </a>
                </li>
            </ul>

            <div class="tab-content" style="margin-top: 10px">
                <!--待办事项 panel-->
                <div class="tab-pane in active" id="needToDealt">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>申请时间</th>
                                <th>活动名称</th>
                                <th>申请参与者</th>
                                <th>学号</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in part_apply_list %}
                            <tr>
                                <td>{{ i.actvity_no }}</td>
                                <td>{{ i.apply_time }}</td>
                                <td>{{ i.activity_name }}</td>
                                <td>{{ i.sname }}</td>
                                <td>{{ i.sno}}</td>
                                <td>
                                    <button class="btn btn-primary btn-xs" data-toggle="modal"
                                            onclick="show_activity_apply(this)">
                                        查看及处理
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="pull-right">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--记录 panel-->
                <div class="tab-pane" id="log">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>

                            <tr>
                                <td>编号</td>
                                <td>申请时间</td>
                                <th>活动名称</th>
                                <td>申请参与者</td>
                                <th>学号</th>
                                <td>状态</td>
                                <td>详情</td>
                            </tr>

                            </thead>
                            <tbody>
                            {% for i in activity_apply_list %}
                            <tr>
                                <td>{{ i.actvity_no }}</td>
                                <td>{{ i.apply_time }}</td>
                                <td>{{ i.activity_name }}</td>
                                <td>{{ i.sname }}</td>
                                <td>{{ i.sno}}</td>
                                <td>
                                    <label class="label label-primary">{{ i.apply_status }}</label>
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-xs" data-toggle="modal"
                                            onclick="show_activity_log(this)">
                                        查看
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                        <div class="pull-right">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--社区活动 panel-->
                <div class="tab-pane" id="activities">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <td>活动编号</td>
                                <th>活动名称</th>
                                <td>活动举办方</td>
                                <th>举办时间</th>
                                <td>申请截止时间</td>
                                <td>详情</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in activity_list %}
                            <tr>
                                <td>{{ i.activity_no }}</td>
                                <td>{{ i.activity_name }}</td>
                                <td>{{ i.host_no }}</td>
                                <td>{{ i.activity_time }}</td>
                                <td>{{ i.last_apply_time}}</td>
                                <td>
                                    <button class="btn btn-primary btn-xs" data-toggle="modal"
                                            onclick="show_activity_info(this)">
                                        查看
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="pull-right">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!--待办事项modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="adminDealtActi" data-backdrop="static">
    <div class="modal-dialog" style="width:auto; max-width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">活动申请处理</h4>
            </div>
            <div class="modal-body">
                <form action="dor/admin_handle/activity_handle/handle_activity_applyments" method="post" id="activity_handle">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">学号:</label>
                                <input type="text" class="form-control" id="a_sno" name="sno" value="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">姓名:</label>
                                <input type="text"  class="form-control" id="a_sname" name="sname" value="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">申请时间:</label>
                                <input type="text" class="form-control" id="a_apply_time" name="apply_time" value="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">学院:</label>
                                <input type="text" class="form-control" id="a_college" name="college" value="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">专业:</label>
                                <input type="text" class="form-control" id="a_major" name="major" value="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">宿舍:</label>
                                <input type="text" class="form-control" id="a_room_no" name="room_no" value="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">联系电话:</label>
                               <input type="text" class="form-control" id="a_stu_phone" name="stu_phone" value="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">邮箱:</label>
                                <input type="text" class="form-control" id="a_email" name="email" value="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">活动编号:</label>
                                <input type="text" class="form-control" id="a_activity_no" name="activity_no" value="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">活动名称:</label>
                                <input type="text" class="form-control" id="a_activity_name" name="activity_name" value="">
                            </div>
                        </div>
                    </div>

                <hr/>

                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">操作:</label>
                                <select class="combobox">
                                    <option></option>
                                    <option value="0" id="agree_or_not">同意申请</option>
                                    <option value="1">不同意申请</option>
                                </select>
                                <input type="hidden" id="agree" name="agree" value="">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">备注:</label>
                                <textarea class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button class="btn btn-success" onclick="handle_apply()">确定</button>
            </div>
        </div>
    </div>
</div>

<!--记录modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="adminActiLog" data-backdrop="static">
    <div class="modal-dialog" style="width:auto; max-width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">申请记录查看</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">学号:</label>
                                <input type="text" class="form-control" id="log_sno" name="sno" value="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">姓名:</label>
                                <input type="text" class="form-control" id="log_sname" name="sname" value="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">申请时间:</label>
                                <input type="text" class="form-control" id="log_apply_time" name="apply_time" value="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">学院:</label>
                                <input type="text" class="form-control" id="log_college" name="college" value="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">专业:</label>
                                <input type="text" class="form-control" id="log_major" name="major" value="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">宿舍:</label>
                                <input type="text" class="form-control" id="log_room_no" name="room_no" value="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">联系电话:</label>
                                <input type="text" class="form-control" id="log_stu_phone" name="stu_phone" value="">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">邮箱:</label>
                                <input type="text" class="form-control" id="log_email" name="email" value="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">活动名称:</label>
                                <input type="text" class="form-control" id="log_activity_name" name="activity_name" value="">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">备注:</label>
                                <p>这是学生申请活动的备注...</p>
                            </div>
                        </div>
                    </div>
                </form>
                <hr/>
                <form>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">状态:</label>
                               <input type="text" class="form-control" id="log_apply_status" value="">
                                <!--申请若失败，则用下面这条-->
                                <!--<label class="label label-primary">申请失败</label>-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
{#                <button type="button" class="btn btn-success">确定</button>#}
            </div>
        </div>
    </div>
</div>

<!--活动编号，活动名字，活动举办方，活动描述，活动举办时间，限制人数，申请截止时间-->

<!--新建社区活动modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="newAdminActi" data-backdrop="static">
    <div class="modal-dialog" style="width:auto; max-width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">社区活动</h4>
            </div>
            <div class="modal-body">
                <form action="/dor/admin_handle/activity_handle/new_activity/" id="new_activity" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">活动编号:</label>
                                <input type="text" name="activity_no" class="form-control">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">活动名称:</label>
                                <input type="text" name="activity_name" class="form-control">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">活动举办方:</label>
                                <input type="text" name="host_no" class="form-control">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">活动举办时间:</label>
                                <input type="text" name="activity_time" class="form-control">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">限制人数:</label>
                                <input type="text" name="activity_max_participate" class="form-control">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">申请截止时间:</label>
                                <input type="text" name="last_apply_time" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">活动描述:</label>
                                <textarea class="form-control" name="activity_description"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success" onclick="new_activity()">确定</button>
            </div>
        </div>
    </div>
</div>


<!--社区活动modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="adminActi" data-backdrop="static">
    <div class="modal-dialog" style="width:auto; max-width:1000px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">社区活动</h4>
            </div>
            <div class="modal-body">
                <form action="/dor/admin_handle/activity_handle/new_activity/" id="new_activity" method="post">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">活动编号:</label>
                                <input type="text" id="each_activity_no" class="form-control" readonly="readonly" name="activity_no">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">活动名称:</label>
                                 <input type="text" id="each_activity_name" class="form-control" readonly="readonly" name="activity_name">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">活动举办方:</label>
                                 <input type="text" id="each_host_name" class="form-control" readonly="readonly" name="host_no">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">活动举办时间:</label>
                                 <input type="text" id="each_activity_time" class="form-control" readonly="readonly" name="activity_time">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">限制人数:</label>
                                 <input type="text" id="each_max_participate" class="form-control" readonly="readonly" name="max_participate">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <label class="control-label">申请截止时间:</label>
                                <input type="text" id="each_last_apply_time" class="form-control" readonly="readonly" name="last_apply_time">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">活动描述:</label>
                                <input type="textarea" id="each_activity_description" class="form-control" readonly="readonly" name="activity_description">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
{#                <button type="button" class="btn btn-success" onclick="">确定</button>#}
            </div>
        </div>
    </div>
</div>


<!--注销modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="logout" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">关闭</span></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>是否注销？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <a href="../index.html">
                    <button type="button" class="btn btn-primary">确定</button>
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'bootstrap/js/jquery-2.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap/js/holder.min.js' %}"></script>


</body>
<script>
    function new_activity(){
        document.getElementById("new_activity").submit();
    }
    function handle_apply(){
        var option=document.getElementById("agree_or_not");
        if(option.selected)
        {
            document.getElementById("agree").value="同意申请";
        }
        else{
            document.getElementById("agree").value="不同意申请";
        }
        document.getElementById("activity_handle").submit();
    }
    function show_activity_apply(obj){
        var act = $(obj).parent().parent().find('td');
        var act_no = act.eq(0).text();
        var stu_no = act.eq(4).text();
        $.ajax({
            url:"/dor/admin_handle/activity_handle/show_activity_applyments/",
            type:"POST",
            data:{act_no:act_no,stu_no:stu_no},
            success:function(res){
                console.log(res);
                $('#a_sno').val(res.sno),
                $('#a_sname').val(res.sname),
                $('#a_college').val(res.college),
                $('#a_major').val(res.major),
                $('#a_room_no').val(res.room_no),
                $('#a_stu_phone').val(res.stu_phone),
                $('#a_email').val(res.email),
                $('#a_apply_time').val(res.apply_time),
                $('#a_reason').val(res.reason),
                $('#a_activity_name').val(res.activity_name),
                $('#a_activity_no').val(res.activity_no)

            },

        });
        $('#adminDealtActi').modal('show')
    }

    function show_activity_log(obj) {
        var act = $(obj).parent().parent().find('td');
        var act_no = act.eq(0).text();
        var stu_no = act.eq(4).text();
        $.ajax({
            url:"/dor/admin_handle/activity_handle/show_activity_applyments_log/",
            type:"POST",
            data:{act_no:act_no,stu_no:stu_no},
            success:function(res){
                console.log(res);
                $('#log_sno').val(res.sno),
                $('#log_sname').val(res.sname),
                $('#log_college').val(res.college),
                $('#log_major').val(res.major),
                $('#log_room_no').val(res.room_no),
                $('#log_stu_phone').val(res.stu_phone),
                $('#log_email').val(res.email),
                $('#log_apply_time').val(res.apply_time),
                $('#log_activity_name').val(res.activity_name),
                $('#log_apply_status').val(res.apply_status)

            },

        });
        $('#adminActiLog').modal('show')
    }
    function show_activity_info(obj){
        var act = $(obj).parent().parent().find('td');
        var act_no = act.eq(0).text();
        $.ajax({
            url:"/dor/admin_handle/activity_handle/show_activity_info/",
            type:"POST",
            data:{act_no:act_no},
            success:function(res){
                console.log(res);
                $('#each_activity_no').val(res.activity_no),
                $('#each_activity_name').val(res.activity_name),
                $('#each_host_name').val(res.host_no),
                $('#each_max_participate').val(res.activity_max_participate),
                $('#each_activity_description').val(res.activity_description),
                $('#each_activity_time').val(res.activity_time),
                $('#each_last_apply_time').val(res.last_apply_time)

            },

        });
        $('#adminActi').modal('show')

    }
</script>
</html>