<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <title>宿舍管理系统-登录</title>

    <link rel="icon" href={% static 'bootstrap/image/favicon.ico' %}>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/admin.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'bootstrap/css/login.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/carousel.css' %}"rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="#">学生宿舍管理系统</a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">

                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div id="navbar" class="collapse navbar-collapse">
                <!-- <a class="navbar-brand" href="#">学生宿舍管理系统</a> -->
                <ul class="nav navbar-nav">
                    <!--默认主页原本是学生登录页面，只有当管理员点击“管理员登录，才进入管理员登录界面-->
                </ul>
            </div>


        </div>

    </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <img class="first-slide" src="/static/bootstrap/image/home/home_1.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        1.
                        为弘扬中华传统文化，丰富宿生文化生活，4月22日上午9：30，弘毅书院主办的首场“毅师一席谈”在图书馆报告厅开讲。林凯龙副教授围绕“潮汕民居”为大家解读潮汕传统建筑的文化密码，来自广东省实验中学的100多名师生也聆听了此次讲座。
                    </p>
                </div>
            </div>
        </div>
        <div class="item active">
            <img class="second-slide" src="/static/bootstrap/image/home/home_2.png" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        2.
                        为弘扬中华传统文化，丰富宿生文化生活，4月22日上午9：30，弘毅书院主办的首场“毅师一席谈”在图书馆报告厅开讲。林凯龙副教授围绕“潮汕民居”为大家解读潮汕传统建筑的文化密码，来自广东省实验中学的100多名师生也聆听了此次讲座。
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="third-slide" src="/static/bootstrap/image/home/home_3.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <p>
                        3.
                        为弘扬中华传统文化，丰富宿生文化生活，4月22日上午9：30，弘毅书院主办的首场“毅师一席谈”在图书馆报告厅开讲。林凯龙副教授围绕“潮汕民居”为大家解读潮汕传统建筑的文化密码，来自广东省实验中学的100多名师生也聆听了此次讲座。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div class="container">


    <div class="row">

        <div class="col-lg-8 col-sm-8">

            <img src="/static/bootstrap/image/home/bg.png" width=90%>

        </div>


        <div class="col-lg-4 col-sm-4">

            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="/show_student_index/" data-toggle="tab">
                        学生登录
                    </a>
                </li>
                <li>
                    <a href="#admin_login" data-toggle="tab">
                        管理员登录
                    </a>
                </li>
            </ul>

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="student_login">

                    <div class="form-signin">
                        <form class="form-signin" action="/dor/student_handle/login/stu_sign_in" id="stu_sign_in" method="POST">
                            <h3 class="form-signin-heading">学生宿舍系统</h3>
                                <input name="username" type="text" class="form-control" placeholder="校园网账号" required
                                       autofocus style="margin-top: 20px">
                                <br>{{ error  }}<br>
                                <input name="password" type="password" class="form-control" placeholder="密码" required
                                       style="margin-top: 20px">

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="remember-me">记住账号密码
                                    </label>
                                </div>

                                <!--这里未使用js判断，仅假设账号密码正确，能够点击进入界面-->
                                <!--到时候删去下行的 href-->
                                <br>
                                <button class="btn btn-lg btn-primary btn-block" type="submit" href="/show_student_index">
                                    登录
                                </button>

                            {% csrf_token %}
                        </form>
                        <a href="#forget">忘记密码</a>
                    </div>


                </div>
                <div class="tab-pane fade" id="admin_login">
                    <div class="form-signin">
                        <form class="form-signin" action="/dor/admin_handle/login/admin_sign_in" id="admin_sign_in" method="POST">
                            <h3 class="form-signin-heading">宿舍管理系统</h3>
                                <input name="username" type="text" class="form-control" placeholder="校园网账号" required
                                       autofocus style="margin-top: 20px">
                                <br>{{ error  }}<br>
                                <input name="password" type="password" class="form-control" placeholder="密码" required
                                       style="margin-top: 20px">

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="remember-me">记住账号密码
                                    </label>
                                </div>

                                <!--这里未使用js判断，仅假设账号密码正确，能够点击进入界面-->
                                <!--到时候删去下行的 href-->
                                <br>
                                <button class="btn btn-lg btn-primary btn-block" type="submit" href="admin/index.html">
                                    登录
                                </button>
                             {% csrf_token %}
                        </form>
                        <a href="#forget" id="forget">忘记密码</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <footer style="margin-top:40px">
        <p class="pull-right"><a href="#">回到顶部</a></p>
        <p>© 2017 汕头大学</p>
    </footer>

</div>
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery-2.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery.min.js' %}"></script>

</body>
<script>
    function show_stu_index()
    {
        document.getElementById("stu_acc").submit();
    }
</script>
</html>